.footer {
  background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/f01eb93c43b312d78466cea7b663d6e7d5a4321eea86f077fb8dceaf9864ab74?placeholderIfAbsent=true&apiKey=170b590e187e4beabe3f2ef7100234b5');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 30px 64px;
  font-family: Inter, sans-serif;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  max-width: 1116px;
  margin: 0 auto;
}

.contactSection {
  display: flex;
  gap: 20px;
}

.logoCircle {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 230px;
  height: 227px;
}

.address {
  font-style: normal;
  color: #89d0f8;
  font-size: 14px;
  line-height: 1.5;
}

.directionsLink,
.contactLink {
  display: inline-block;
  color: #f6fcff;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
}

.contactDetails {
  margin-top: 20px;
}

.highlight {
  color: #fff;
}

.quickLinksNav {
  text-align: right;
}

.quickLinksTitle {
  color: #f6fcff;
  font-size: 16px;
  margin-bottom: 10px;
}

.quickLinksList {
  list-style-type: none;
  padding: 0;
}

.quickLinksList li {
  margin-bottom: 5px;
}

.quickLinksList a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.footerDivider {
  width: 100%;
  margin: 20px 0;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

@media (max-width: 991px) {
  .footer {
    padding: 30px 20px;
  }

  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contactSection {
    flex-direction: column;
    align-items: center;
  }

  .quickLinksNav {
    margin-top: 20px;
    text-align: center;
  }

  .footerBottom {
    flex-direction: column;
    align-items: center;
  }
}