.header {
  background-color: #cdc1d6;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 61px 17px;
}

.logoWrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.logoCircle {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.schoolName {
  color: #000;
  font: 400 36px/36px Inter, sans-serif;
  margin: 0;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contactButton {
  border-radius: 10px;
  background-color: rgba(20, 12, 115, 0.96);
  color: #fff;
  padding: 15px 37px;
  border: none;
  cursor: pointer;
  font: 400 16px Inter, sans-serif;
}

.phoneWrapper {
  display: flex;
  margin-top: 6px;
  gap: 18px;
  color: #000;
  align-items: center;
}

.phoneIcon {
  aspect-ratio: 1.1;
  object-fit: contain;
  width: 33px;
}

.phoneNumber {
  font: 400 16px Inter, sans-serif;
}

@media (max-width: 991px) {
  .header {
    padding: 10px 20px;
  }

  .contactButton {
    padding: 10px 20px;
  }
}