.loginSection {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.loginTitle {
  color: #000;
  font: 500 40px/0.5 'Abhaya Libre Medium', sans-serif;
  margin-bottom: 44px;
}

.loginTypeSelector {
  display: flex;
  width: 425px;
  max-width: 100%;
  text-align: center;
  letter-spacing: 0.1px;
  font: 500 14px/20px Roboto, sans-serif;
  margin-bottom: 33px;
}

.selectorButton {
  display: flex;
  min-height: 62px;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 4px 0;
  background-color: #e8def8;
  border: 1px solid #79747e;
  color: #0a0000;
  cursor: pointer;
}

.selectorButton:first-child {
  border-radius: 100px 0 0 100px;
}

.selectorButton:last-child {
  border-radius: 0 100px 100px 0;
}

.selectorButton.active {
  background-color: #140c73;
  color: #fff;
}

.loginForm {
  width: 420px;
  max-width: 100%;
}

.inputWrapper {
  margin-bottom: 13px;
}

.inputLabel {
  display: block;
  color: #252a31;
  font: 800 32px/1 'Abhaya Libre ExtraBold', sans-serif;
  margin-bottom: 4px;
}

.inputField {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #bac7d5;
  background-color: #e8edf1;
  padding: 12px;
  font: 400 16px Inter, sans-serif;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.checkboxLabel {
  color: #3b3624;
  font: 500 20px/1 'Abhaya Libre Medium', sans-serif;
}

.signInButton {
  width: 100%;
  border-radius: 6px;
  background-color: #140c73;
  color: #fff;
  text-align: center;
  padding: 15px 16px;
  font: 700 32px/1 'Abhaya Libre', sans-serif;
  border: none;
  cursor: pointer;
}

.signupPrompt {
  color: #000;
  font: 700 24px/1 Inter, sans-serif;
  margin-top: 28px;
}

.signupLink {
  color: #140c73;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .loginSection {
    width: 100%;
    margin-top: 40px;
  }

  .loginTypeSelector,
  .loginForm {
    width: 100%;
  }
}