.teacherLogin {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainContent {
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  gap: 20px;
}

.loginImage {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 55%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .contentWrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
  }

  .loginImage {
    width: 100%;
    max-width: 100%;
  }
}